<style>
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<h1>Username or Password is incorrect.</h1>

<form action="/">
    <button type="submit">Go Back</button>
</form>

<script>alert("Login Failed");</script>
